{% extends "base.html" %}
{% block content %}
		


	<h1 class="otsikko">Add race</h1>

	{% if errors%}
		<div class="alert alert-danger">
		{% for error in errors %}
			<ul>
				<li>{{ error }}</li>
			</ul>
		{% endfor %}
		</div>	
	{% endif %}		

	<form method="post" action="{{base_path}}/races">
		<div class="form-group">
			<label>Name</label>
			<input type="text" name="name" class="form-control">
		</div>

		<div class="form-group">
			<label>Year</label>
			<input type="text" name="year" class="form-control">	
		</div>
		
		<div class="form-group">
  			<label for="sel1">Track</label>
        	<select name="track" class="form-control" id="sel1">
          		{% for track in tracks %}
            		<option  value="{{track.id}}">{{track.name}}</option>
          		{% endfor %}  
        	</select>

		</div>

        <div class="form-group">
        	<label for="sel1">Winner</label>
       		 <select name="winner" class="form-control" id="sel1">
          	{% for driver in drivers %}
            	<option  value="{{driver.id}}">{{driver.name}}</option>
          	{% endfor %}  
        	</select>  	
		</div>


		<div class="form-button">
        	<button type="submit" class="btn btn-danger" id="addbutton">Save</button>
    	</div> 
	</form>



{% endblock %}