#main-container{
    max-width: 1920px;
    padding: 10px 25px;
    margin: 100px auto;

}

.navbar .container-fluid{

    margin: 0px auto;
    font-color: rgb(255,255,255);
    background-color: #660000;
}

body{

    background-image: url("background.jpg");
    background-image: center fixed;
    
    background-repeat: repeat;
    
}


form.loginform{
    position: relative;
    left: 40%;
    top: 200px;
}

#loginotsikko{
    position: relative;
    left: 45%;
    color: white;
    font-weight: 600;
    font-family: 'Impact', sans-serif;
}



#login{
    max-width: 340px;
}


#loginlabel{
    color: white;
}

figure.overlay{
    background:  #660000;
    float: left;
    margin: 20px;
    position: relative;
    top: 200px;
    left: 16%;
   

}


#rcorners {
    border-radius: 10px 10px;

    padding: 10px; 

}


figure.overlay figcaption{
    position: absolute;
    top: 40%;
    left: 35%;
    color: white;
}

figure.overlay figcaption h2 {
    font-weight: 600;
    font-family: 'Impact', sans-serif;



}

figure.overlay img{
    opacity: 0.4;
    position: relative;
}

figure.overlay:hover img, figure.overlay.hover img{
    opacity: 1;
}

.otsikko{

    color: white;
}

