{% extends "base.html" %}
{% block content %}
  

  <figure class="overlay" id="rcorners">
  	<a href="/f1_database/drivers"><img src="http://i.imgur.com/kFDkIvo.jpg" class="img-rounded center-block" alt="Drivers" style="width:250px;height:250px;"/></a>
  	<figcaption>
  		<h2>Drivers</h2>
  	</figcaption>
  	
 </figure>

<figure class="overlay" id="rcorners">
  	<a href="/f1_database/teams"><img src="http://i.imgur.com/QqxVEN5.jpg" class="img-rounded center-block" alt="Teams" style="width:250px;height:250px;"/></a>
  	<figcaption>
  		<h2>Teams</h2>
  	</figcaption>
  	
 </figure>


 <figure class="overlay" id="rcorners">
     <a href="/f1_database/tracks"><img src="http://i.imgur.com/VFtUlcS.jpg" class="img-rounded center-block" alt="Tracks" style="width:250px;height:250px;"/></a>
  	<figcaption>
  		<h2>Tracks</h2>
  	</figcaption>
 </figure>

<figure class="overlay" id="rcorners">
     <a href="/f1_database/races"><img src="http://i.imgur.com/aiI0gTF.jpg" class="img-rounded center-block" alt="Races" style="width:250px;height:250px;"/></a>
  	<figcaption>
  		<h2>Races</h2>
  	</figcaption>
 </figure>



{% endblock %}

