{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}  

  <h2 class="otsikko">{{Driver.name}}</h2>
 
  <p>
  	<form method="post" action="http://tokito.users.cs.helsinki.fi/f1_database/drivers/{{Driver.id}}/destroy" style="display: inline-block;">
    	<button type="submit" class="btn btn-danger">Delete</button>
  	</form>
  	<a href="http://tokito.users.cs.helsinki.fi/f1_database/drivers/{{Driver.id}}/edit" class="btn btn-default">Edit</a>
  </p>

  <ul class="list-group">
    <li><strong>Team:</strong>  {{Driver.team_id}}</li>
    <li><strong>Number:</strong>    {{Driver.num}}</li>
    <li><strong>Championships</strong>  {{Driver.championships}}</li>
    <li><strong>Race wins</strong>   {{Driver.wins}}</li>
  </ul>





  


  




{% endblock %}