{% extends "base.html" %}
{% block content %}


<h2  align="center"> <font color="white">   {{Race.name}}  {{Race.year}}</font></h2>


{% if message %}  
<label class="label label-danger">{{message}}</label>
{% endif %}  


<div align="center" style="border:3px white">
	<p>
		<form method="post" action="{{base_path}}/races/{{Race.id}}/destroy" style="display: inline-block;">
    		<button type="submit" class="btn btn-danger">Delete</button>
		</form>
			<a href="{{base_path}}/races/{{Race.id}}/edit" class="btn btn-default">Edit</a>
	</p>

</div>

<div align="center">

<ul  class="list-group">
    
    <li><strong>Name</strong> {{Race.name}}</li>
    <li><strong>Track</strong> {{Track.name}}</li>
    <li><strong>Year</strong> {{Race.year}}</li>
    <li><strong>Winner</strong> {{Winner.name}}</li>

    
    
  </ul>

</div>


  





{% endblock %}