{% extends "base.html" %}
{% block content %}
  

<h2 class="otsikko">{{Team.name}}</h2>>
  
  <p>
    <form method="post" action="{{base_path}}/teams/{{Team.id}}/destroy" class="destroy-form" data-confirm="Deleting a team will also delete every driver from that team. Are you sure?" style="display: inline-block;">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>    


  </p>


  <ul class="list-group">
    
    <li><strong>Race wins</strong> {{Team.wins}}</li>
    <li><strong>Championships</strong> {{Team.championships}}</li>
    
    
  </ul>



  <table class="table table-hover">
	<thead class="tableNames">
		<th>Drivers</th>
	</thead>

	<tbody class="tableNames">
		{% for Driver in Drivers %}
			<tr>
				<td><a href="{{base_path}}/drivers/{{Driver.id}}">{{Driver.name}}</a></td>
			</tr>
		{% endfor %}	
	</tbody>

</table>



{% endblock %}