{% extends "base.html" %}
{% block content %}


<h2 class="otsikko">{{Track.name}}</h2>


{% if message %}  
<label class="label label-danger">{{message}}</label>
{% endif %}  



<p>
<form method="post" action="http://tokito.users.cs.helsinki.fi/f1_database/tracks/{{Track.id}}/destroy" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
<a href="http://tokito.users.cs.helsinki.fi/f1_database/tracks/{{Track.id}}/edit" class="btn btn-default">Edit</a>
</p>




{% endblock %}
