{% extends "base.html" %}
{% block content %}

<h1 class="otsikko">Drivers</h1>

<p>
	<a href="#" class="btn btn-success">Add driver</a>
</p>


<table class="table table-hover">
	<thead class="otsikko">
		<th>Name</th>
		<th>Team</th>
		<th>Number</th>
	</thead>

	<tbody>
	{% for driver in drivers%}
		<tr>
		  <td><a href="{{base_path}}/drivers/{{driver.number}}">{{driver.name}}</td>
		  <td>{{driver.team_id}}</td>
		  <td>{{driver.num}}</td>
		  <td><a class="btn btn-danger btn-sm" href="{{base_path}}/driver/{{driver.number}}/edit">Edit</a></td>
		</tr>
	{% endfor %}
	</tbody>


</table>







{% endblock %}