{% extends "base.html" %}
{% block content %}


<h1 class="otsikko">Edit</h1>


{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}


<form method="post" action="{{base_path}}/drivers/{{Driver.id}}/edit">
    <div class="form-group">
        <label>Name</label>
        <input type="text" name="name"  class="form-control" value="{{Driver.name}}">
    </div>

    <div class="form-group">
        <label>Race wins</label>
        <input type="text" name="wins"  class="form-control" value="{{Driver.wins}}">
    </div>

    <div class="form-group">
        <label>Championships</label>
        <input type="text"name="championships"  class="form-control" name="championships" value="{{Driver.championships}}">
    </div>



    <div class="form-group">
        <label>Number</label>
        <input type="text" name="num"  class="form-control" value="{{Driver.num}}">

    </div>

    <div class="form-button">    
        <button type="submit" class="btn btn-danger" id="addbutton">Save</button>
    </div>    


</form>




{% endblock %}