{% extends "base.html" %}
{% block content %}
  

  <figure class="overlay">
  	<img src="http://i.imgur.com/kFDkIvo.jpg"  alt="Driver" style="width:310px;height:310px;"/>
  	<figcaption>
  		<h2>Drivers</h2>
  	</figcaption>
  	<a href="driver_page.html"></a>
 </figure>

<figure class="overlay">
  	<img src="http://i.imgur.com/QqxVEN5.jpg"  alt="Teams" style="width:310px;height:310px;"/>
  	<figcaption>
  		<h2>Teams</h2>
  	</figcaption>
  	<a href="driver_page.html"></a>
 </figure>


 <figure class="overlay">
  	<img src="http://i.imgur.com/VFtUlcS.jpg"  alt="Tracks" style="width:310px;height:310px;"/>
  	<figcaption>
  		<h2>Tracks</h2>
  	</figcaption>
 </figure>



{% endblock %}