{% extends "base.html" %}
{% block content %}


<h1 class="otsikko">  LOG IN</h1>


<form class="loginform">
    <div class="form-group">
        <label id="loginlabel">User name</label>
        <input type="text" class="form-control" id="login">
    </div>


    <div class="form-group">
        <label id="loginlabel">Password</label>
        <input type="text" class="form-control" id="login">
    </div>


    <div class="form-group">
        <button type="submit" class="btn btn-danger">Log in</button>
    </div>
</form>




{% endblock %}